.logo {
    max-width: 9% !important;
    margin-top: 1.5%;
    margin-left: 3.5%;
}

.navbarInicio li {
    display: inline;
    box-sizing: border-box;
    min-width: 100px;
    padding: 0 12px 0 0;
    vertical-align: top;
    font-size: 13px;
    color: rgb(109, 108, 108);
}

.liInicio {
    margin-top: 1%;
}